html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
img.background {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover {
  background: rgba(35, 41, 86, 0.8);
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  width: 400px;
  margin-left: 40%;
  padding: 14px;
}
.content header .logo {
  max-width: 100%;
}
.content p {
  padding: 20px 0;
  font-size: 12pt;
}
.content input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12pt;
}
.content button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  background: rgb(35, 41, 86);
  border: none;
  margin-top: 8px;
  text-transform: uppercase;
}
.content .error {
  display: inline-block;
  margin-top: 8px;
  background: rgb(231, 69, 69);
  color: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
}
.content .error:empty {
  display: none;
}

@media screen and (max-width: 680px) {
  .content {
    margin-left: initial;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 100%;
    max-width: 100%;
  }
}
